		* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#username, #password, #password_confirm, #email
{
	height: 30px;
	padding: 9px 9px;
	/*border-color: #ddd;*/
	margin-bottom: 10px;
	vertical-align: middle;
	/*box-shadow: 0 1px 0px 0 rgba(0,0,0,0.02) inset;*/
}
input
{
	box-sizing: border-box;
	/*width: 100%;*/
}
.filter
{
	border: 1px solid black;
	display: block;
	font-weight: 300;
	margin-top: -285px;
	margin-left: 350px;
	width: 150px;
	height: 250px;
	/*margin-left: 100px;
	margin-top: 100px;*/
}
.header-nav-link 
{
	width: 130px;
    display: block;
    padding: 20px 20px;
    font-weight: 600;
    line-height: 20px;
    color: #0067C8;
	text-decoration: none;
}
.header-nav-link1 
{
    display: block;
	width: 130px;	
	margin-top: -60px !important;
	margin-left: 145px;
    padding: 20px 32px;
    font-weight: 600;
    line-height: 20px;
    color: #0067C8;
	text-decoration: none;
}
.header-nav-link2 
{
    display: block;
	width: 130px;	
	margin-top: -60px !important;
	margin-left: 300px;
	/*right: 0;*/
    padding: 20px 15px;
    font-weight: 600;
    line-height: 20px;
    color: #0067C8;
	text-decoration: none;
}
#upload_photo
{
	width: 160px;
	line-height: 1.2;
	font-weight: 400;
	background-color: #007feb;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	/*margin-bottom: 400px;*/
}
/*.shot
{
	margin-top: 50px;
}*/
.upload_photo
{
	font-weight: 300;
	color:#3E4552;
	    margin-right: 240px;
	    line-height: 1.2;
/*margin: 20px 20px 0 0;*/
}
.drop2
{
z-index: 2;
    min-width: 260px;
    border-radius: 4px;
    border: 1px solid #DAE1E9;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
}
.moncompte
{
	position: relative;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    color: #0667D0;
}
*[role=button] {
    text-decoration: none;
    cursor: pointer;
    color: #0067C8;
}
.moncompte:after
{
position: relative;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    color: #7D95B6;
}

.menu2
{
	flex-direction: row;
    width: 1180px;
}
.menu1
{
	    height: 60px;
    border-bottom: 1px solid #DAE1E9;
}
.myinfos
{
	    padding: 20px 50px;
    font-weight: 500;
    color: #4E5C6E;
}
.drop_menu
{
    position: absolute;
    display: flex;
    top: 40px;
    right: -16px;
	    /*width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #FFFFFF;*/
}
.myaccount
{
	position: relative;
	cursor: pointer;
	margin-left: 8px;
    margin-right: 6px;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
}
#pupload
{
			/*position:inline; */
	
	border-radius: 10px;
	border: 1px solid #007feb;;
}
/*header
{*/
	/*height: 7vmin;
	border-radius: 0 0 10px 10px;
			background-color: #66cccc;*/
/*}*/
.pupload
{
			/*width: 500px;*/
			 background: #FFFFFF;
			 margin-right: 50px;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.05);
    box-shadow: 0 1px 5px rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.07);
    padding: 20px 40px 30px;
    border-radius: 1px;




	width: 250px;
	/*border: 2px solid green;*/
	/*width: 40%;*/
	display: block;
	float:right;
	/*margin-left: 10px;
	margin-top: 150px;
	margin-bottom: 150px;*/
}
body {
  padding: 20px 15%;
}
form header {
  margin: 0 0 20px 0; 
}
form header div {
  font-size: 90%;
  color: #999;
}
.conteneur
{
	/*margin: 0;*/
	margin-top: -20px;
	/*margin-left: -250px;*/
}
.conteneur1
{
	margin-top: -24px;
	margin-left: 100px;
}
h3
{
		font-family: 'proxima-nova','Helvetica Neue',Helvetica,Arial,sans-serif;
	/*margin: 20px 0;*/
	font-size: 15px;
	line-height: 1.2;
	color: #3E4552;
	font-weight: 200;
}
h2
{
	font-family: 'proxima-nova','Helvetica Neue',Helvetica,Arial,sans-serif;
	margin: 20px 0;
	font-size: 20px;
	line-height: 1.2;
	color: #3E4552;
	font-weight: 300;
}
form header  {
  margin: 0 0 5px 0;
}
form > div {
  clear: both;
  overflow: hidden;
  padding: 1px;
  margin: 0 0 10px 0;
}
form > div > fieldset > div > div {
  margin: 0 0 5px 0;
}
form > div > label,
legend {
	/*width: 25%;*/
  /*float: left;*/
  padding-right: 10px;
}
form > div > div,
form > div > fieldset > div {
  width: 75%;
  float: right;
}
form > div > fieldset label {
	font-size: 90%;
}
fieldset {
	border: 0;
  padding: 0;
}
#email
{
	width: 100%;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
	width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

@media (max-width: 600px) {
  form > div {
    margin: 0 0 15px 0; 
  }
  form > div > label,
  legend {
	  width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 100%;
    float: none;
  }
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 100%; 
  }
}
@media (min-width: 1200px) {
  form > div > label,
	legend {
  	text-align: right;
  }
}
		html
		{
			/*background-color: #66cccc;*/
			background: #f8f8f8;
			         /*background     : transparent url("adresse de l'image transparente") repeat ;*/
			/*background-image: url("https://webdesignerdepot.s3.amazonaws.com/default-images/29.jpg");			*/
			font-family: 'proxima-nova','Helvetica Neue',Helvetica,Arial,sans-serif;
			font-size: small;
			/*font-style: oblique;*/
			height: 100%;
		}
		body
		{
			min-height: 100%;
			margin: 0;
			padding: 0;
			position: relative;
		}
		
		footer
		{
			position: fixed; 
			bottom: 0;
		}
		.logofor
		{
			width: 5em;
		}
		#forty
		{
			margin:  0px 0px 0px;			
		}
		.submit
		{
			margin-left: 100px;	
		}
		.account-form
		{
			width: 500px;
			 background: #FFFFFF;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.05);
    box-shadow: 0 1px 5px rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.07);
    padding: 20px 40px 30px;
    border-radius: 1px;
		}
				.account-form1
		{
			width: 700px;
			height: 400px;
			margin-left: 20px;
			 background: #FFFFFF;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.05);
    box-shadow: 0 1px 5px rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.07);
    padding: 20px 40px 30px;
    border-radius: 1px;
		}
		.form1
		{
			border: 1px solid black;
			margin-bottom: 200px;
			    /*width:105px;*/
    /*margin:0 auto;*/
			/*border-radius: 5px 10px 5px 5px;*/
			/*border: 1vmin solid blue;*/
			display: block;
			position: relative;
			/*align-content: center;*/
			/*margin-left: 200px;*/
			margin: auto;
			float: left;
			display: inline;
			width:75vmin;
			height: 40vmin;
			margin-right: 2px;
		}
		.gallery
		{
 width: 200px;
 height: 200px;
		}
		canvas
		{
			width: 0;
		}
		h1
		{
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			font-size: small;
			/*font-style: oblique;*/
			width: 10px;
		}
		.all_form
		{
    /*max-width:100vmin;*/
			display: inline-block;
	/*float: center;*/
    /*background-color:black;*/
    /*height:30vmin;*/
		}
		.form2
		{
			/*border-radius: 5px 10px 5px 5px;			*/
			margin-left: 1vmin;
			/*border: 1vmin solid blue;*/
			display: block;
			float: right;
			/*position: relative;*/
			/*align-content: center;*/
			/*margin: auto;*/
			/*display: right;*/
			/*/*width:500px;*/
			    width:75vmin;
    /*margin:0 auto;*/
    height:40vmin;
		}
		label
		{
			/*display: block;*/
			/*position: relative;*/
			/*float: left;*/
			/*width: 15vmin;
			PEUT ETRE A REMETTRE
			*/

		}
		/*.lost_account
		{
			position: absolute; 
			top: 6px;
			right: 10px;*/
			/*margin: 0 auto;*/
			/*width: 200px; */
		/*}*/
		.create_account
		{
			   /*width: 100%;*/
			position: absolute; 
			top: 20px;
			right: 0;
			margin-right: 15px;
			/*margin: 25px auto;
			width: 200px; */
		}
		#create_account
		{
			    color: rgba(255,255,255,0.95);
    font-weight: 600;
    text-shadow: none;
    text-decoration: none;
    padding: 8px 10px;
    font-size: 13px;
    margin: 0px 0px 0px 5px;
    border-radius: 2px;
		    background: transparent;
    border: 2px solid #fff;
		line-height: 20px;
    text-align: center;
		vertical-align: middle;
    cursor: pointer;
			/*background-color: #007feb;
			border: 1px solid transparent;
			border-radius: 4px;
			color: #fff;
			cursor: pointer;
			display: block;
			font-size: 12px;
			line-height: 16px;
			width: 13em;
			text-decoration:none; 
			margin: 0;
			padding: 7px 12px;
			position: relative;
			text-align: center;*/
			/*vertical-align: middle;*/
			/*transition-duration: .15s;
			transition-property: background-color,border-color,color,opacity;	*/
		}
		.nav_bar
		{
			/*background: #66cccc;*/
			background: #007feb;
			padding: 2px 0;
			height: 70px;
		}
		.grandform
		{
			margin: 40px auto;
			display: block;
			text-align: center;
		}
				.grandform1
		{
			margin: 30px auto;
			display: block;
			text-align: left;
		}
		.extraform
		{
			display: block;
			text-align: center;
    		padding: 30px 0 0;
    		font-size: 13px;
		}
		#lost_account
		{
			padding: 30px 0 0 0;
			text-align: center;
			color: #484c57;
    		text-decoration: none;
			line-height: 1.4;
			/*text-decoration:none;
			background-color: #007feb;
			border: 1px solid transparent;
			border-radius: 4px;
			color: #fff;
			cursor: pointer;
			display: inline-block;
			width: 14em;
			font-size: 12px;
			line-height: 16px;
			margin: 0;
			padding: 7px 12px;
			position: relative;
			text-align: center;
			vertical-align: middle;
			transition-duration: .15s;
			transition-property: background-color,border-color,color,opacity;	*/
		}
		#startbutton
		{
			margin-bottom: -130px !important;
   			margin-left: -70px !important;
		}
		#submit, #startbutton
		{
			font-weight: 400;
			background-color: #007feb;
			border: 1px solid transparent;
			border-radius: 4px;
			color: #fff;
			cursor: pointer;
			display: inline-block;
			font-size: 12px;
			line-height: 16px;
			margin: 0;
			padding: 7px 12px;
			position: relative;
			text-align: center;
			vertical-align: middle;
			transition-duration: .15s;
		}
		.confirm
		{
			display: block;
			margin-left: auto;
    		margin-right: -50px;
		}
		/*.formulaire
		{
			display: block;
			margin-left: auto;
    		margin-right: auto;
		}*/
		.hello
		{
			display: block;
			margin-left: auto;
    		margin-right: top;
			margin-top: -80px;
			margin-left: 20px;
			width: 20em;
		}
		.power
		{
			display: block;
			margin-left: auto;
    		margin-right: top;
			margin-top: -90px;
			width: 5em;
		}
		.pass
		{
			margin-left: -20px;
			margin-right: auto;
		}
		.cama , .tit{
			display: block;
			margin-left: auto;
    		margin-right: auto;
				margin-top: 10px;
    		width: 13em;
		}
		/*canvas {
			display: none;
		}*/
		.leform
		{
			display: block;
			margin-top: 50px;
border: 3px solid black;
/*width: 60%;*/
height: 100%;
		}
		video
		{
			/*width: 500px;*/
			/*margin-left: -100px;*/
			border: 1px solid #007feb;
			border-radius: 10px;
			/*display: flex;
			align-content: left;*/
			
		}
		/*video, #startbutton 
		{
			display: block;
			float: left;
			margin-top: 60px;
			margin-left: 30px;
			border-radius: 10px;
		}*/
				video,
		{
			display: block;
			float: left;
			margin-top: 60px;
			margin-left: 30px;
			/*border-radius: 10px;*/
		}
		/*#startbutton 
		{
			background: green;
			border: none;
			color: #fff;
			margin: 100px 20px 20px 20px;
			padding: 10px 20px;
			font-size: 20px;
		}*/
		
		#container
		{
			overflow: hidden;
			width: 880px;
			margin: 20px auto;
		}